extends ../includes/layout

block main-content    
    .charts--container
        ul
            li.chart
                h1.chart--subHeadline.chart--mainTitle
                    | Income tax rate per country
                h3.chart--
                    h4 
                        | Income tax rates vary hugely between countries and depend highly on other factors like earnings, martial status and so on.  
                    h4.message 
                        | Where in Europe do people pay the highest slice of their earnings to the tax man ?  
                    h4 
                        | According to the 
                        a(href="http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=earn_nt_net&lang=en") Eurostat
                        |  organization, in 2013, a single person on an average salary without children will have the highest income tax rate in Belgium - some 42.1% of his or her earnings.  Germany isn't too far behind.  Neighbording Danemark comes in third place.
                    h4 
                        | In this stacked-bar, noticed the inequalities contributions between countries.  Each bar is showing the tax rate per country as a combination of income taxes and employee's social security contribution.  Family allowances is not included as we only consider a single person on an average salary without children.                    
                    .play-button ▶ PLAY ALL YEARS
                    h4
                        | Select a year or a country in order to see more details...
                    .buttons-container
                    .clearfix
                #barChart
                    svg#barChartSVG            

            li.chart
                h3#line-title.chart--subHeadline
                    | Taxes History evolution since 2000 till 2013.   

                h2.chart--headline
                    |  Average taxes per year for all countries 
                #lineChart
                    svg#lineChartSVG.lineChart--svg
                        defs
                            lineargradient#lineChart--gradientBackgroundArea--NET(x1='0', x2='0', y1='0', y2='1')
                                stop.lineChart--gradientBackgroundArea--NET--top(offset='0%')
                                stop.lineChart--gradientBackgroundArea--NET--bottom(offset='100%')
                        defs
                            lineargradient#lineChart--gradientBackgroundArea--TAX(x1='0', x2='0', y1='0', y2='1')
                                stop.lineChart--gradientBackgroundArea--TAX--top(offset='0%')
                                stop.lineChart--gradientBackgroundArea--TAX--bottom(offset='100%')
                h4
                    | For more details about this project visit the 
                    a(href="https://github.com/mic0331/eurostatV2") Github page